doctype html
html
  head
    title= title
    block stylesheet  //style.css istedğim yerde kulanmak için yzıldı.
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      div(nd-app="cyrptochat",ng-cloak)

block content
block javascripts
 script(src="/angular/angular.min.js")
 script(src="/javascripts/main.js")